* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    /* outline:  red dashed 1px; */
}
nav {
    margin-bottom: 32px;
    background-color: #e76f51;
    padding: 10px;
    /* outline:  red dashed 1px; */
}
nav a{
    width: 1220px;
    color: aliceblue;
    margin-right: 10px;
    /* outline:  red dashed 1px; */
}
body{
    margin-left: .5px;
}
h1 {
    color: #2a9d8f;
}
img {
    height: 250px;
}
.margin-bottom{
    margin-bottom: 20px;
    text-decoration: solid;
    text-transform: capitalize;
}
.margin-top{
    margin-top: 10px;
}
.Flexem{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 100px;
}
section h3 a{
    color: #2A9D8F;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}
footer h5 {
    display: flex;
    align-self:flex-end;
    padding: 24px  0px 24px 0px;
    background-color: #80ed99;
}
table tbody tr:nth-child(even){
    background-color: lightgray;
}
.align{
    margin-left: 40px;
}
